@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0E0E0E;
}

.App {
  text-align: center;
}

.main-bg {
  z-index: -3000;
}

.active {
  color: rgb(41, 198, 255) !important;
}

#navbar-toggler > span {
	display: block;
	width: 28px;
	height: 2px;
	border-radius: 9999px;
	background-color: white;
}

#navbar-toggler > span:not(:last-child) {
	margin-bottom: 7px;
}

#navbar-toggler, #navbar-toggler > span {
	transition: all .4s ease-in-out;
}

#navbar-toggler.active {
	transition-delay:  0.8s;
	transform: rotate(45deg);
}

#navbar-toggler.active > span:nth-child(2) {
	width: 0;
}

#navbar-toggler.active > span:nth-child(1),
#navbar-toggler.active > span:nth-child(3) {
	transition-delay: .4s;
}

#navbar-toggler.active > span:nth-child(1) {
	transform:  translateY(9px);
}

#navbar-toggler.active > span:nth-child(3) {
	transform:  translateY(-9px) rotate(90deg);
}

.circle-wave::after {
  content: '';
  position:absolute;
  top: -10%;
  left: 50%;
  width: 150%;
  height: 150%;
  border-radius: 40%;
  background-color: rgb(237, 237, 237);
  animation: flow 8s linear infinite;
}

.circle-wave::before {
  content: '';
  position:absolute;
  top: -5%;
  left: 50%;
  width: 150%;
  height: 150%;
  border-radius: 40%;
  background-color: rgb(131, 207, 255);
  animation: flow-inverse 7s linear infinite;
}

@keyframes flow {
  0% {
    transform: translate(-50%,-65%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-65%) rotate(360deg);
  }
}

@keyframes flow-inverse {
  0% {
    transform: translate(-50%,-60%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-60%) rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg); 
  }
  100% { 
    -webkit-transform: rotate(360deg); 
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}